blosc2==2.6.1
contourpy==1.2.1
cycler==0.12.1
data-cache==0.1.6
fonttools==4.50.0
h5py==3.10.0
kiwisolver==1.4.5
matplotlib==3.8.4
msgpack==1.0.8
ndindex==1.8
numexpr==2.10.0
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow==10.3.0
py-cpuinfo==9.0.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tables==3.9.2
tzdata==2024.1
XlsxWriter==3.2.0
